.imgLocation {
  background: none;
  border: none;
  height: 40px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.cursorPointer {
  cursor: pointer;
}

.defaultPointer > div {
  cursor: default !important;
}

.cardWidth {
  width: 20% !important;
}

.listPlaces {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.solidBottom {
  margin-top: 10px;
  border-bottom: 1px solid #cfcdcd;
}

.itemPlaces {
  margin-left: 10px;
}

.cardItemPlaces {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 200ms linear;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.imgLogout {
  width: 40px;
  cursor: pointer;
}

.dFlex {
  display: flex;
}

.justifyStart {
  justify-content: start;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifyEnd {
  justify-content: flex-end;
}

.coordinates {
  margin: 10px 10px 0 0;
}

.coordinatesText {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
}

.cardContainer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 200ms linear;
  background: #ffffff;
  border-radius: 4px;
}

.description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.descriptionDetail {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  text-align: justify;
  -webkit-box-orient: vertical;
}

.imgPlace {
  border-radius: 4px 4px 0 0;
}

.cardBody {
  padding: 10px 10px;
}

.overFlow_Y {
  overflow-y: scroll;
  max-height: 100vh;
}

.mt1 {
  margin-top: 1rem;
}

.textName {
  font-size: 18px;
}

.avaBorder {
  border-radius: 50%;
}

.ml1 {
  margin-left: 10px;
}

.alignCenter {
  align-items: center;
}

.cardWidth14 {
  width: 14%;
}
.activeColor {
  color: #aa3dc8;
}

.width80 {
  width: 100px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.iconLike {
  text-align: end;
  top: 30px;
}
